body,
html,
#root {
  height: 100%;
   

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color:#ff000091;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #ff007fbf;
  margin: 0;
 
}
}

h1 .highlight {
  color: #fff;;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff4e50, #fc913a);
  font-family: Arial, sans-serif;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.searchBar {
  margin: 20px 0;
  width: 50%;
  display: flex;
  justify-content: center;
}
.initialContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 90%;
  margin-top: 20px;
  

}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  width: 90%;
  margin-top: 20px;
  margin: auto;
}
@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
  }
}
.results,
.playlist {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 75vh;
  overflow-y: scroll;
  border-bottom: 2px solid #fc913a;
}

p {
  margin: auto;
  padding-bottom: 8px;
}


.intialResults,
.initialPlaylist {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}