body,
html,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ff4e50, #fc913a);
 

  html {
    font-size: 18px;
  }

  h1 {
    padding: 0.77rem 0;

    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    color: #ff007f;
    margin: 20px;
  }
}

h1 .highlight {
  color: #fff;
}
h1 {
  font-family: 'Poppins', sans-serif; 
  font-size: 3rem;
  font-weight: bold;
  color: white; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  /* background: linear-gradient(135deg, #ff4e50); */
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff4e50, #fc913a);
  font-family: Arial, sans-serif;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.searchBar {
  margin: 20px 0;
  width: 50%;
  display: flex;
  justify-content: center;
}
/* .initialContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 90%;
  margin-top: 20px;
} */
.content {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr 1fr; /* 2 columns by default */
  height: 65vh;
  gap: 20px;
  width: 90%;
  margin-top: 20px;
}

/* Shared styling */
.results,
.playlist,
.localPlaylist {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  overflow-y: scroll; /* Prevents unnecessary scroll */
  min-height: 100px; /* Prevents elements from collapsing on mobile */
}

/* Default layout for larger screens */
.results {
  flex: 1;
  grid-column: 1fr;
  grid-row: 1 / span 6;
  display: grid;
}

.playlist {
  flex: 2;
  grid-column: 1fr;
  grid-row: 1 / span 3;
}

.localPlaylist {
  flex: 2;
  grid-column: 1fr;
  grid-row: 4 / span 3;
}

/* 🔹 Mobile optimization: Switch to a single-column layout */
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .results {
    height: 70vh; 
    width: 96%;
    min-height: 300px;
    
  }

  .playlist{
    width: 96%;
    height: 30vh;

  }


  .localPlaylist {
    width: 96%;
    height: 20vh;
    
  }

  button {
    font-size: 0.8rem;
    padding: 5px 8px;
    
  }
  h3 {
    font-size: 0.9rem;
  }
 
}
p {
  margin: auto;
  padding-bottom: 8px;
}

/* .intialResults,
.initialPlaylist {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
} */

.welcome-container {
  max-width: 600px;
  padding: 20px;
  border-radius: 15px;
  background: transparent;
  background-color: transparent;
  margin-top: 50px;
  margin-bottom: 50px;
}
