.playlistList {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
  width: auto;
  cursor: pointer;
}

.playlistTitle {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.playlistTitle:hover {
  color: #ff4081;
}

.playlistItems {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.playlistItem {
  padding: 12px 4px;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
 
}

.playlistItem:hover {
  font-size: larger;
  padding: 10px 2px;
}

.noPlaylist {
  color: #fff;
  font-style: italic;
}

.listWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonWrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: 10px;
}
