.container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;

  margin-top: 20px;
  border-top: 1px solid #fff;
}
.track {
  border: "1px solid black";
  padding: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
  height: 40px;
  align-self: center;
}
p {
 
  font-style: italic
}