.container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: auto;
  margin-bottom: auto;
  border-top: 1px solid #fff;
}
.track {
  border: "1px solid black";
  padding: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
  height: 40px;
  align-self: center;
}
p {
  font-style: italic;
}
.result,
.playlist {
  flex-shrink: 1;
  min-width: 250px;
  max-width: 100%;
}

.popup {
  position: absolute;
  
  z-index: 1000;
  padding: 5px; 
  /* border-radius: 8px; */
  width: 300px;
  height: 100px;
  color: white;
  border-radius: 8px;
}

.popupContent {
  position: relative;
  width: 290px;
  height: 100px;
  /* background-color: white; */
  padding: 5px; 
  border-radius: 8px;
  margin-left: 1px;
  margin-top: 3px;
}



.closeButton {
  position: absolute;
  top: 5px;
  right:-8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  padding: 7px 10px;
  margin-right: 1px;
  

  
}

